<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/75e53ee709.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="nav">
          <div class="menu-icons">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
          </div>
          <a href="#" class="logo">
            <i class="fas fa-home"></i>
          </a>
          <ul class="nav_list">
            <li class="drop_down">
              <a href="#"
                >Drop Down
                <i class="fas fa-caret-square-down"></i>
              </a>

              <ul class="sub-menu sub-1">
                <li>
                  <a href="#"
                    >sub home
                    <i class="fas fa-caret-square-down"></i>
                  </a>
                  <ul class="sub-menu sub-2">
                    <li><a href="#">sub home</a></li>
                    <li><a href="#">sub home</a></li>
                    <li>
                      <a href="#"
                        >more... <i class="fas fa-caret-square-down"></i
                      ></a>
                      <ul class="sub-menu sub-3">
                        <li><a href="#">sub sub home</a></li>
                        <li><a href="#">sub sub home</a></li>
                        <li><a href="#">sub sub home</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="#">sub home</a></li>
                <li><a href="#">sub home</a></li>
              </ul>
            </li>

            <li><a href="#" class="btn">about</a></li>
            <li><a href="#" class="btn">gallery</a></li>
            <li><a href="#" class="btn">services</a></li>
            <li><a href="#" class="btn">contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main ">
      <section class="text">
        <h2>Real Estate</h2>
        <h1>Your dream Home</h1>

        <h2>Where you live defines how you feal.</h2>

        <a href="#" class="learn_more btn"
          ><i class="fas fa-play"></i> Subscribe now!</a
        >
      </section>
    </main>
    <footer>
      <p>Menyhart<span> Media</span> &copy;2020</p>
    </footer>
    <script src="nav.js"></script>
  </body>
</html>
