@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);
body {
  background: #f5f5f5;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
body {
  font-family: "Exo 2";
  background: cornflowerblue;
}
.nav_top {
  float: right;
}
.nav-link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.79px;
  line-height: 19px;
  text-align: right;
}
.top-text {
  font-weight: 200;
  font-size: 15px;
}
.nav-link:hover {
  color: darkslategrey;
}
.mobile_nav {
  background: red;
}
h1 {
  position: relative;
  text-align: center;
}
.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: white;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}
.overlay {
  position: fixed;
  background: #101318;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index: 10;
}
.overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
  animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 25px;
  font-weight: 400;
  justify-content: flex-start;
  display: flex;
  font-weight: 300;
  line-height: 26px;
}
.overlay ul {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

a.nav-link {
  color: #ffffff;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.79px;
  line-height: 19px;
  text-align: right;
  text-transform: uppercase;
}
.dropdown-menu {
  min-width: 550px;
  background: transparent;
  left: calc(50% - 275px);
  border: 0px;
  text-align: center;
}
.dropdown-item {
  display: inline-block;
  width: auto;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.45px;
  line-height: 14px;
  color: #ffffff;
  position: relative;
  clear: inherit;
  padding: 10px 1.5rem;
  margin-left: -4px;
}
.dropdown-item::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  left: 0px;
  top: 0px;
}
.dropdown-item::after {
  content: "";
  width: 1px;
  height: 10px;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  left: calc(50% - 1px);
  top: 0px;
}
.dropdown-item:first-child::before {
  width: 50%;
  left: 50%;
}
.dropdown-item:last-child::before {
  width: 50%;
  right: 50%;
}
.dropdown-item:hover {
  background: transparent;
  color: darkslategrey;
}
.show .dropdown-toggle {
  color: darkslategrey;
}
.navbar {
  position: absolute;
  z-index: 9999;
}
a,
a:focus,
a:hover,
a:visited {
  outline: none;
}
