<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="author" content="https://github.com/syahrizaldev">
   <title>Navbar Menu with Vanilla JavaScript</title>
   <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico">
   <link rel="stylesheet" type="text/css" href="./public/css/reset.min.css">
   <link rel="stylesheet" type="text/css" href="./public/css/style.min.css">
   <link rel="stylesheet" type="text/css" href="./public/css/ionicon.min.css">
</head>

<body>
   <!-- Section: Header -->
   <header class="header">
      <section class="container">
         <div class="wrapper">
            <a href="./index.html" class="brand">MyBrand</a>
            <button type="button" class="burger" id="burger">
               <span class="burger-line"></span>
               <span class="burger-line"></span>
               <span class="burger-line"></span>
               <span class="burger-line"></span>
            </button>
            <span class="overlay" id="overlay"></span>
            <nav class="navbar" id="navbar">
               <ul class="menu">
                  <li class="menu-item"><a href="#">Home</a></li>
                  <li class="menu-item"><a href="#">About</a></li>
                  <li class="menu-item menu-item-child">
                     <a href="#" data-toggle="sub-menu">Services<i class="expand"></i></a>
                     <ul class="sub-menu">
                        <li class="menu-item"><a href="#">Web Design</a></li>
                        <li class="menu-item"><a href="#">Web Development</a></li>
                        <li class="menu-item"><a href="#">Brand Marketing</a></li>
                        <li class="menu-item"><a href="#">SEO and Optimizing</a></li>
                     </ul>
                  </li>
                  <li class="menu-item menu-item-child">
                     <a href="#" data-toggle="sub-menu">Planning <i class="expand"></i></a>
                     <ul class="sub-menu">
                        <li class="menu-item"><a href="#">Basic</a></li>
                        <li class="menu-item"><a href="#">Standard</a></li>
                        <li class="menu-item"><a href="#">Premium</a></li>
                        <li class="menu-item"><a href="#">Professional</a></li>
                     </ul>
                  </li>
                  <li class="menu-item menu-item-child">
                     <a href="#" data-toggle="sub-menu">Projects <i class="expand"></i></a>
                     <ul class="sub-menu">
                        <li class="menu-item"><a href="#">Design Project</a></li>
                        <li class="menu-item"><a href="#">Development Project</a></li>
                        <li class="menu-item"><a href="#">Branding Project</a></li>
                        <li class="menu-item"><a href="#">Others Project</a></li>
                     </ul>
                  </li>
                  <li class="menu-item"><a href="#">Contact</a></li>
               </ul>
            </nav>
         </div>
      </section>
   </header>



   <script defer src="./public/js/script.js"></script>
</body>

</html>